/target
/classes
/checkouts
.cpcache
profiles.clj
pom.xml
pom.xml.asc
*.jar
*.class
*.asc
*.pom
/.lein-*
/.nrepl-port
.hgignore
.hg/
graalvm*
tech.v3.datatype.main
resources
jdk-16
jdk-16.0.1
jdk-17.0.1
library_test
zulu-jdk
.clj-kondo
.lsp
java_test/classes
java_test/.cpcache
java_test/test.arrow
